.bibleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: var(--color-secondary);
  font-family: sans-serif;
}


.bibleSelector {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.tab {
  flex: 1;
  min-width: 125px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--color-primary-dark);
  color: var(--color-text);
  border-radius: 8px;
  margin-right: 0.5rem;
  opacity: 0.6;
  transition: background 0.3s;
}

.tab:hover {
  background-color: var(--color-primary-light)
}

.tabActive {
  opacity: 1;
  background-color: var(--color-primary);
  box-shadow: 1px 2px 5px 2px rgba(58, 44, 13, 0.65);

}

.cardContainer {
  position: relative;
  width: 350px;
}

.bibleCard {
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
  width: 350px;
  height: 300px;
  background-color: var(--color-background);
  padding: 1.5rem;
  border-radius: 8px;
  color: var(--color-paragraph);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.cardHeader {
  border-bottom: 1px solid var(--color-paragraph);
  position: relative;
  text-align: center;
  width: 100%;
}

.iconBtn {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.5rem;
  transition: background 0.3s;
}
.iconBtn:hover {
  background-color: var(--color-secondary-dark);

}

.iconBtnRight8 {
  right: 10px;
}

.iconBtnRight16 {
  right: 45px;
}

.cardBody {
  margin-top: 0.6rem;
  line-height: 1.4;
}